.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

svg {
  font: 10px sans-serif;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}